@{
    Layout = "~/Views/Shared/_LayoutLecturer.cshtml";
    var user = Session["username"];
    if (Session["username"] == null || Session["user_id"] == null || Session["role_id"].ToString() != "2")
    {
        Response.Redirect("~/Login/Index");
    }
}

@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="~/Content/styles/style-homepage.css" rel="stylesheet" />
    <link href="~/Content/styles/details.css" rel="stylesheet" />
    <link href="~/Content/styles/pagination.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

    <script src="~/signalr/hubs"></script>*@
<div class="container">
    <h2 style="text-align: center; margin-top: 4px;">Quản lý sinh viên</h2>
    <table id="loadData" class="table table-bordered table-striped no-footer dt-responsive nowrap" role="grid" aria-describedby="crudTable_info">
        <thead>
            <tr>
                <th>ID</th>
                <th>Người xem</th>
                <th>Mã lớp</th>
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Thời gian xem</th>
                <th>Ngày xem</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Content/Datatables/jquery.dataTables.min.js"></script>
<!--Load data-->
<script>
    //load môn học ebook
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/TimeAPI/ManageStudentReadBook",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log("data", data);
                InitTable(data);
            }
        });
        function InitTable(data) {
            $('#loadData').DataTable({
                data: data,
                "columns": [
                    { "data": "id" },
                    { "data": "fullname" },
                    { "data": "class_id" },
                    {
                        "data": "bookid", render: function (data) {
                            debugger;
                            var type = data.slice(0, 2);
                            if (type == "EB")
                                return "<a href='/Details/Details?ebook_id=" + data + "' style='text-decoration: none;'>" + data + "</a>";
                                if (type == "ES")
                                    return "<a href='/Details/DetailsEssay?essay_id=" + data + "'style='text-decoration: none;'>" + data + "</a>";
                                if (type == "TH")
                                    return "<a href='/Details/DetailsThesis?thesis_id=" + data + "'style='text-decoration: none;'>" + data + "</a>";
                        }
                    },
                    {
                        "data": "bookname", 
                    },
                    { "data": "time1" },
                    {
                        "data": "date", render: function (data) {
                            var d = new Date(data);
                            return d.toLocaleDateString();
                         }
                    },

                ]
            });
        }
    });

</script>
