@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classic Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="~/Content/css/style1.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>*@
    @*<script src="~/Scripts/popper.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@
    @*<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>*@
    @*<script src="~/Scripts/common/jquery.blockUI.js"></script>*@
    <!-- Meta tag Keywords -->
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar,   0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- online-fonts -->
    <link href="~/Content/css/css.css" rel="stylesheet">
    <style>
        .btnlogin {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
</head>

<body>
    <script src="~/Content/js/jquery.vide.min.js"></script>
    <!-- main -->
    <div data-vide-bg="/Content/video/Ipad">
        <div class="center-container">
            <!--header-->
            @*<div style="background-color: #fff;text-align: center;"><img src="~/Content/img/logo-lv1.png" /></div>*@
            <div class="header-w3l" style="font-family:'Times New Roman', Times, serif !important;">
                <h1>Thư viện online FIT</h1>
            </div>

            <!--//header-->
            <div class="main-content-agile">
                <div class="sub-main-w3">

                    <div class="wthree-pro" style="font-family:'Times New Roman', Times, serif !important;">

                        <h2>Đăng nhập</h2>
                    </div>
                    <form id="formLogin" method="post" enctype="multipart/form-data">
                        <input type="email" class="user" id="email" placeholder="Email" name="email">
                        <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br><br>
                        <input type="password" class="pass" id="pwd" placeholder="Mật khẩu" name="pwd">
                        <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
                        <div class="sub-w3l">
                            <h6>@Html.ActionLink("Quên mật khẩu?", "Index", "ForgotPassword")</h6>
                            <div class="right-w3l">
                                <button id="btnlogin" type="button" class="btnlogin">Đăng nhập</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--//main-->
            <!--footer-->
            <div class="footer">
                <p>&copy; 2019 Thư viện Online </p>
            </div>
            <!--//footer-->
        </div>
    </div>

</body>

</html>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script>
    $(document).ready(function () {
        $("#email").empty();
        $("pwd").empty();
        var warnOptions = {
            autoHideDelay: 1000,
            showAnimation: "fadeIn",
            hideAnimation: "fadeOut",
            hideDuration: 700,
            arrowShow: false,
            className: "warn",
        };
        var successOptions = {
            autoHideDelay: 1000,
            showAnimation: "fadeIn",
            hideAnimation: "fadeOut",
            hideDuration: 700,
            arrowShow: false,
            className: "success",
        };
        var errorOptions = {
            autoHideDelay: 1000,
            showAnimation: "fadeIn",
            hideAnimation: "fadeOut",
            hideDuration: 700,
            arrowShow: false,
            className: "error",
        };
        
        $('body').on('click', '#btnlogin', function () {
            debugger
            var email = $("#email").val();
            var pass = $("#pwd").val();
            if (email == null || email == "") {
                $("#email").focus();
                $.notify("Bạn phải nhập email!", warnOptions);
                return;
            }
            if (pass == null || pass == "") {
                $("#pass").focus();
                $.notify("Bạn phải nhập mật khẩu!", warnOptions);
                return;
            }
            else {
                var loginInfo = {};
                    loginInfo.User = $("#email").val(); //get từ textbox
                    loginInfo.Pass = $("#pwd").val(); //get từ text boxt
                    $.ajax({
                        type: "POST",
                        url: "/api/LoginAPI/Login",
                        data: JSON.stringify(loginInfo),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result != "")
                                window.location.href = result;
                            else {
                                $.notify("Tài khoản hoặc mật khẩu không đúng!", errorOptions);
                            }
                            //if (result != null) {
                            //    //sessionStorage.setItem("imguser", result.image);
                            //    //sessionStorage.setItem("fullname", result.fullname);
                            //    if (result.role_id == 1 || result.role_id == 2) {
                            //        window.location.href = "/Home/Index";
                            //    }
                            //    else {
                            //        window.location.href = "/Home/Student";
                            //    }
                            //}
                            //else {
                            //    $.notify("Tài khoản hoặc mật khẩu không đúng!", errorOptions);
                            //}
                        }
                    });
            }
        });
        $("#pwd").keyup(function (event) {
            if (event.keyCode === 13) {
                var email = $("#email").val();
                var pass = $("#pwd").val();
                if (email == null || email == "") {
                    $("#email").focus();
                    $.notify("Bạn phải nhập email!", warnOptions);
                    return;
                }
                if (pass == null || pass == "") {
                    $("#pass").focus();
                    $.notify("Bạn phải nhập mật khẩu!", warnOptions);
                    return;
                }
                else {
                    var loginInfo = {};
                    loginInfo.User = $("#email").val(); //get từ textbox
                    loginInfo.Pass = $("#pwd").val(); //get từ text boxt
                    $.ajax({
                        type: "POST",
                        url: "/api/LoginAPI/Login",
                        data: JSON.stringify(loginInfo),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result != "")
                                window.location.href = result;
                            else {
                                $.notify("Tài khoản hoặc mật khẩu không đúng!", errorOptions);
                            }
                        //    debugger
                        //    if (result != null) {
                        //        //sessionStorage.setItem("imguser", result.image);
                        //        //sessionStorage.setItem("fullname", result.fullname);
                        //        //sessionStorage.setItem("email", result.username);
                        //        //sessionStorage.setItem("class_id", result.mssv);
                        //        if (result.role_id == 1 || result.role_id == 2) {
                        //            window.location.href = "/Home/Index";
                        //        }
                        //        else {
                        //            window.location.href = "/Home/Student";
                        //        }
                        //    }
                        //    else {
                        //        $.notify("Tài khoản hoặc mật khẩu không đúng!", errorOptions);
                        //    }
                        }
                    });
                }
            }
        });
    });

  
</script>
<script>
        //$(document).ready(function () {
        //    //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
        //    $('#formLogin').validate({
        //        onfocusout: false,
        //        onkeyup: false,
        //        onclick: false,
        //        rules: {
        //            email: {
        //                email: true,
        //                required: true
        //            },
        //            pwd: {
        //                required: true
        //            }
        //        },
        //        messages: {
        //            email: {
        //                email: "Email không hợp lệ",
        //                required: "Bạn phải nhập username"
        //            },
        //            pwd: {
        //                required: "Bạn phải nhập password"
        //            }
        //        },
        //        submitHandler: function (form) {
        //            var loginInfo = {};
        //            loginInfo.User = $("#email").val(); //get từ textbox
        //            loginInfo.Pass = $("#pwd").val(); //get từ text boxt
        //            $.ajax({
        //                type: "POST",
        //                url: "/api/LoginAPI/Login",
        //                data: JSON.stringify(loginInfo),
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                success: function (result) {
        //                    if (result != "")
        //                        window.location.href = result;
        //                    else {
        //                        $("#error").empty();
        //                        $("#error").append(" <b>Tài khoản hoặc mật khẩu không đúng!</b>.");
        //                    }
        //                }
        //            });
        //            //code in here
        //            //$("#btnlogin").submit(function () {
        //            //    debugger;
        //            //    //var form = $('#formLogin')[0];
        //            //    //var formData = new FormData(form);
        //            //    //console.log(formData);
        //            //    //var data = $('form#formLogin').serialize();

        //            //});
        //        }
        //    });
        //});
</script>
<script>

        //$("#btnlogin").click(function () {

        //    var loginInfo = {};
        //    loginInfo.User = $("#email").val(); //get từ textbox
        //    loginInfo.Pass = $("#pwd").val(); //get từ text boxt
        //    $.ajax({
        //        type: "POST",
        //        url: "/api/LoginAPI/Login",
        //        data: JSON.stringify(loginInfo),
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        success: function (result) {
        //            debugger
        //            if (result != "")
        //                window.location.href = result;
        //            else {
        //                $("#error").empty();
        //                $("#error").append(" <b>Tài khoản hoặc mật khẩu không đúng!</b>.");
        //            }
        //        }
        //    });
        //});


</script>
