@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/css/style1.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
   
</head>



<body>
    <div class="container">
        <h2>Đăng nhập</h2>
        @*<form id="login1">*@
            <div class="form-group" >
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">

            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">

            </div>
            <div id="error"></div>
            @Html.ValidationSummary()
            <div style="margin-top:20px">
                <button id="login" type="submit" class="btn btn-primary">Login</button>
            </div>
        @*</form>*@
        <!--Form đăng nhập-->
        @*<form  class="form-signin" role="form">
            <div align="center">

                <img src="~/Content/img/logo-login.png" /> <br />
            </div>

            <br />
            <div class="form-group">
                <label for="email" style="color: gray">User name</label><br />
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required><br />

                <label for="pwd" style="color: gray">Password:</label> <br />
                <input type="password" name="pswd" class="form-control" id="pwd"placeholder="Enter email" required>
            </div>
            <div id="error"></div>
            <div style="margin-top:20px">
                <button id="login" type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>*@
        @*<form action="/Login/Index" method="post" id="login1" class="form-signin" role="form">
            <div align="center">
                <img src="~/Content/img/logo-login.png" /> <br />
            </div>

            <br />
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">

            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">

            </div>
            <div id="error"></div>
            @Html.ValidationSummary()
            <div style="margin-top:20px">
                <button value="login" id="login" type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>*@

    </div>

</body>
</html>
<script>
    $("#login").click(function () {

        var loginInfo = {};
        loginInfo.User = $("#email").val(); //get từ textbox
        loginInfo.Pass = $("#pwd").val(); //get từ text boxt
        $.ajax({
            type: "POST",
            url: "/api/LoginAPI/Login",
            data: JSON.stringify(loginInfo),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger
                if (result != "")
                    window.location.href = result;
                else {
                    $("#error").empty();
                    $("#error").append(" <b>Tài khoản hoặc mật khẩu không đúng!</b>.");
                }
            }
        });
    });


</script>
<script>
    $(document).ready(function () {

        //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này 
        $('#login1').validate({
            rules: {
                email: {
                    email: true,
                    required: true
                },
                pwd: {
                    required: true
                }
            },
            messages: {
                email: {
                    email: "Email không hợp lệ",
                    required: "Bạn phải nhập username"
                },
                pwd: {
                    required: "Bạn phải nhập password"
                }
            }
        });
    });
</script>