@{
    var user = Session["username"];
    if (Session["username"] == null || Session["user_id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/Content/styles/style-homepage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
   
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Online Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <img style="width:30px;height:30px" id="user_img" src="~/Content/img/user.png" />
                    <lable id="username">@Session["username"]</lable>
                    <lable id="userid">@Session["user_id"]</lable>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container" id="admin-container">

        <div class="row">

            <div class="col-lg-3">

                <h3 class="my-4">Select Category</h3>
                <ul class="mainmenu">
                    <li>
                        <a href="#">Ebooks<span class="fas fa-plus" data-toggle="modal" data-target="#CreateSub" style="float:right"></span></a>
                        <!--The Modal Create-->
                        <div class="modal" id="CreateSub">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Tạo môn học</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal body -->
                                    <!-- Tạo môn học -->
                                    <div id="modal" class="modal-body">
                                        <div class="form-group">
                                            <label for="text">Tiêu đề:</label>
                                            <input type="text" class="form-control" id="nameSujectEbook" placeholder="Tên môn" name="Name">
                                        </div>
                                        <div style="margin-top:20px">
                                            <button id="create_sub_ebook" type="button" class="btn btn-primary">Tạo</button>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn_close" data-dismiss="modal">Đóng</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <ul class="submenu" id="loadSubjectOfEbook">
                            @*load các môn học trong ebook*@
                        </ul>
                    </li>
                    @* *@
                    <li><a href="">Tiểu luận</a></li>
                    <li><a href="">Khóa luận</a></li>
                </ul>
                @*<h3 class="my-4">Upload</h3>*@
                <!-- Upload phải chọn môn học -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Upload</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Form Upload Ebook -->
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="text">Tiêu đề:</label>
                                        <input type="text" class="form-control" id="title" placeholder="Tiêu đề" name="title">

                                    </div>
                                    <div class="form-group">
                                        <label for="text">Giới thiệu:</label>
                                        <input type="text" class="form-control" id="describe" placeholder="Giới thiêu" name="describe">

                                    </div>
                                    <div class="form-group">
                                        <label for="text">Tác giả:</label>
                                        <input type="text" class="form-control" id="author" placeholder="Tiêu đề" name="author">

                                    </div>
                                    <div class="form-group">
                                        <label for="text">Năm sản xuất:</label>
                                        <input type="text" class="form-control" id="year" placeholder="Giới thiêu" name="year">

                                    </div>
                                    @*<div class="form-group" >
                                            <label for="text">Mon hoc:</label>
                                            <input type="text" class="form-control" id="subject" placeholder="Giới thiêu" name="year">

                                        </div>*@
                                    <div class="form-group">
                                        <label for="text">Môn học:</label>
                                        <select id="subject" class="form-control"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Browser</label>

                                        <input type="file" name="Files" multiple id="fileInput" />
                                    </div>

                                    <div id="error"></div>
                                    <div style="margin-top:20px">
                                        <button id="upload" type="button" class="btn btn-primary">Upload</button>
                                    </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- tạo các tab liên quan-->
                <div id="navigation">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Ebooks</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                </div><!-- navigation -->
                <div class="d-flex justify-content-between mb-3">
                    <h1 id="loadFilePageHome" class="khoangcachduoi">Products</h1>
                    <div>
                        <button id="btn_upload" type="button" class="btn_login btn btn-success" data-toggle="modal" data-target="#myModal" style="margin-top:10px;">Upload</button>
                    </div>

                </div>
                <div class="row" id="loadEbook" data-bind="foreach: resultArr">

                </div>

                @*<div class="d-flex justify-content-between mb-3">
                        <h1 id="loadFilePageSubject" class="khoangcachduoi" >Products</h1>
                        <div>
                            <button id="btn_upload1" type="button" class="btn_login btn btn-success"  data-toggle="modal" data-target="#myModal1" style="margin-top:10px;">Upload</button>
                        </div>

                    </div>
                    <div class="row" id="loadEbook1" data-bind="foreach: resultArr">

                    </div>*@
                @*// phân trang*@

                <div class="col-lg-12 col-md-6 mb-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Library Online 2019</p>
        </div>

        <!-- /.container -->
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script type='text/javascript' src='~/Scripts/common/knockout-3.5.0.js'></script>
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    
</body>

</html>



<script>
    //Up file
    $(document).ready(function () {
        //Upload dữ liệu vào Ebook
        $("#upload").click(function () {
            var files = $("#fileInput").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("fileInput", files[i]);
            }
            //cái này là lấy thông tin trên text box  title là key tiltle.val() là giá trị
            fileData.append("title", $("#title").val());
            fileData.append("describe", $("#describe").val());
            fileData.append("author", $("#author").val());
            fileData.append("year", $("#year").val());
            fileData.append("userid", $("#userid").text());
            fileData.append("subid", $("#subject option:selected").val());
            
            console.log(fileData);
            $.ajax({
                type: "POST",
                url: "http://localhost:52385/api/FileAPI/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    alert(result);
                }
            });

        });


    });
    //lấy môn học của ebook
    $(document).ready(function () {
        //Ẩn hiện form
        $("#btn_upload").hide();
        $("#loadEbook").hide();
        //xóa môn của ebook
        //function deleteSubEbook(id) {
        //    $.ajax({
        //        type: "POST",
        //        url: "/api/FileAPI/DeleteEbookById",
        //        data: { Id: id },
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        success: function (result) {
        //            alert(result);
        //        }
        //    });
        //};
        $.ajax({
            type: "GET",
            url: "/api/FileAPI/GetSubjectEbook",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (i, v) {
                    //alert(v.name);
                    //load các môn của ebook lên thanh danh mục bên trái
                    $("#loadSubjectOfEbook").append("<li id='ebook_" + v.id + "'><a>" + v.name
                        + "<button " + "id='del_sub_eb_" + v.id + "' type='button' class='btn btn-info far fa-trash-alt'"
                        + "style='float: right'></button>"
                        + "<button type='button' class='btn btn-info far fa-file-alt'"
                        + "style='float: right'></button></a></li >");

                    //xóa môn học khi click vào buttton delete
                    $("#del_sub_eb_" + v.id).click(function () {
                        //alert("aaaaaa");
                        //deleteSubEbook(v.id);
                        var data = {};
                        data.id = v.id;
                        data.name = v.name;
                        $.ajax({
                            type: "POST",
                            url: "/api/FileAPI/DeleteSubjectById",
                            data: JSON.stringify(data),
                            //data: { id: v.id },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                alert(result);
                            }
                        });
                    });
                 
                 
                    //khi click vào môn học sẽ load các file trong môn đó
                    $("#ebook_" + v.id).click(function () {
                        //Ẩn hiện form upload file ở trang chỉ hay uplaod file trong môn học
                        $("#btn_upload").show();
                        $("#loadEbook").show();
                        $("#subject").append("<option value='" + v.id + "'>" + v.name + "</option>");
                        $("#loadEbook").empty();
                        $.ajax({
                            type: "GET",
                            url: "/api/FileAPI/GetEbook",
                            data: { id: v.id },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {

                                $.each(result, function (i, v) {
                                    var data = "<div class='col-lg-4 col-md-6 mb-4' data-bind='attr: { id: id }'>";
                                    data += "<div class='card h-100'>";
                                    data += "<a href='#'><img class='card-img-top' src='http://placehold.it/700x400' alt=''></a>";
                                    data += "<div class='card-body'>";
                                    data += "<h4 class='card-title'>";//
                                    data += "<a href='/Details/Details?id=" + v.id + "'" + "data-bind='text:title'>" + v.title + "</a> </h4>";
                                    data += "<h5>tác giả: " + v.author + "</h5>";
                                    data += "<p class='card-text' data-bind='text:author'></p>";
                                    data += "<div class='card-footer'></div>";
                                    data += "<small class='text-muted'>&#9733; &#9733; &#9733; &#9733; &#9733;</small>";
                                    data += " </div></div></div>";

                                    $("#loadEbook").append(data);
                                });
                            }
                        });
                    });
                });
            }
        });

        $("#create_sub_ebook").click(function () {
            var subject = {};
            subject.name = $("#nameSujectEbook").val();
            $.ajax({
                type: "POST",
                url: "/api/FileAPI/CreateSubject",
                data: JSON.stringify(subject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //$("#loadSubjectOfEbook").append("<li id='" + result.id + "'><a>" + result.name + "</a></li >");
                    alert(result);

                    $("#nameSujectEbook").empty();
                }
            });
        });
    });

   
    
    //SIGNALR
    $(function () {
        $.connection.hub.logging = true;
        var chat = $.connection.myHub;

        //SignalR thêm môn học vào Ebook
        chat.client.postToClient = function (id, name) {
            $("#loadSubjectOfEbook").append("<li id='" + id + "'><a>" + name + "</a></li >");
        };
        //SignalR thêm file 
        chat.client.postFileEbookToClient = function (id, title, author, describe, filename,
            date_upload) {
            var data = "<div class='col-lg-4 col-md-6 mb-4' data-bind='attr: { id: id }'>";
            data += "<div class='card h-100'>";
            data += "<a href='#'><img class='card-img-top' src='http://placehold.it/700x400' alt=''></a>";
            data += "<div class='card-body'>";
            data += "<h4 class='card-title'>";
            data += "<a href='#' data-bind='text:title'>" + title + "</a> </h4>";
            data += "<h5>tác giả: " + author + "</h5>";
            data += "<p class='card-text' data-bind='text:author'></p>";
            data += "<div class='card-footer'></div>";
            data += "<small class='text-muted'>&#9733; &#9733; &#9733; &#9733; &#9733;</small>";
            data += " </div></div></div>";

            $("#loadEbook").append(data);
        };
        $.connection.hub.start().done(function () {
            //alert("started");
        }).fail(function (result) {
            alert(result);
            });

    });  
</script>