@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
@{
    var user = Session["username"];
    if (Session["username"] == null || Session["user_id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}
<div class="container" id="manage">
    <h2>Tài liệu đã đọc</h2>
    <table id="loadData" class="table table-bordered table-striped no-footer dt-responsive nowrap" role="grid" aria-describedby="crudTable_info">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Thời gian xem</th>
                <th>Ngày xem</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!--Load data-->
<script>
    //load môn học ebook
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/TimeAPI/StudentView",
             data: {id:@ViewBag.Id},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log("data", data);
                InitTable(data);
            }
        });
        function InitTable(data) {
            $('#loadData').DataTable({
                data: data,
                "columns": [
                    { "data": "id" },
                    { "data": "bookid" },
                    { "data": "bookname" },
                    { "data": "time1" },
                    {
                        "data": "date", render: function (data, type, row) {
                            return moment(row.date).format('DD/MM/YYYY');
                        }
                    },

                ]
            });
        }
    });

</script>
