@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var user = Session["username"];
    if (Session["username"] == null || Session["user_id"] == null || Session["role_id"].ToString() != "1")
    {
        Response.Redirect("~/Login/Index");
    }
}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" rel="stylesheet" />*@
<script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
<style>
    .mar_bottom {
        margin-bottom: 5px;
    }

    .fas {
        font-size: 22px;
    }
    .far {
        font-size: 22px;
    }
</style>
<div class="container" id="admin-container">
    <h2 style="text-align: center; margin-top: 4px;">Quản lý Ebook</h2>
    <div>
        <button type="button" class="btn btn-success" style="margin-bottom: 4px;" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-plus-square"></i>
        </button>
        @*<button id="btnEdit" type='button' class='btn btn-danger'>Sửa</button>
            <button id="btnDel" type='button' class='btn btn-danger'>Xóa</button>*@
    </div>
    <table id="loadsubject" class="table table-bordered table-striped no-footer dt-responsive nowrap" cellspacing="0" role="grid" aria-describedby="crudTable_info">
        <thead>
            <tr>
                @*<th>STT</th>*@
                <th>ID</th>
                <th>Mã sách</th>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Tên file</th>
                <th>Mô tả</th>
                <th>Năm</th>
                <th>Ngày</th>
                <th>Mã môn</th>
                <th>Tên môn</th>
                <th></th>
                @*<th></th>*@

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!--Popup Add-->
<!-- Upload EBOOK -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Form Upload Ebook -->
            <div class="modal-body">
                <form id="formEbook" method="post" enctype="multipart/form-data">
                    <div class="form-row mar_bottom">
                        <div class="row col-md-6">
                            <div class="col-md-3"> <label for="text">Tiêu đề:</label></div>
                            <div class="col-md-9"> <input type="text" class="form-control" id="title" placeholder="Tiêu đề" name="title"></div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-md-3">  <label for="text">Tác giả:</label></div>
                            <div class="col-md-9"> <input type="text" class="form-control" id="author" placeholder="Tác giả" name="author"></div>
                        </div>
                    </div>
                    <div class="form-row mar_bottom">
                        <div class="row col-md-6">
                            <div class="col-md-3"><label for="text">Năm xuất bản:</label></div>
                            <div class="col-md-9"><input type="number" class="form-control" id="year" placeholder="Năm xuất bản" name="year"></div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-md-3"><label for="text">Bộ môn:</label></div>
                            <div class="col-md-9"><select id="subject" class="form-control"></select></div>
                        </div>
                    </div>
                    <div class="form-group mar_bottom">
                        <label for="text">Browser</label>

                        <input type="file" name="Files" multiple id="fileInput" />
                    </div>
                    <div class="form-group">
                        <label for="text">Mô tả:</label>
                        <textarea type="text" class="form-control" id="describe" placeholder="Mô tả" name="describe" rows="8"></textarea>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="Save" type="button" class="btn btn-primary" style="width: 70px;">Lưu</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Popup Edit-->
<div class="modal" id="myModalEdit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật</h4>
                <button type="button" class="close btnclose" data-dismiss="modal">&times;</button>
            </div>
            <!-- Form Upload Ebook -->
            <div class="modal-body">
                <form id="formEbookEdit" method="post" enctype="multipart/form-data">
                    <div class="form-row mar_bottom">
                        <div class="row col-md-6">
                            <div class="col-md-3"> <label for="text">Tiêu đề:</label></div>
                            <div class="col-md-9"> <input type="text" class="form-control" id="titleEdit" placeholder="Tiêu đề" name="titleEdit"></div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-md-3">  <label for="text">Tác giả:</label></div>
                            <div class="col-md-9"> <input type="text" class="form-control" id="authorEdit" placeholder="Tác giả" name="authorEdit"></div>
                        </div>
                    </div>
                    <div class="form-row mar_bottom">
                        <div class="row col-md-6">
                            <div class="col-md-3"><label for="text">Năm xuất bản:</label></div>
                            <div class="col-md-9"><input type="number" class="form-control" id="yearEdit" placeholder="Năm xuất bản" name="yearEdit"></div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-md-3"><label for="text">Bộ môn:</label></div>
                            <div class="col-md-9"><select id="subjectEdit" class="form-control"></select></div>
                        </div>
                    </div>
                    <div class="form-group mar_bottom">
                        <label for="text">Browser</label>
                        <input type="file" name="Files" multiple id="fileInputEdit" />
                        <div class="row col-md-6" hidden>
                            <div class="col-md-3"><label for="text">Mã sách:</label></div>
                            <div class="col-md-9"><input type="text" class="form-control" id="ebook_idEdit" placeholder="Năm xuất bản" name="ebook_idEdit"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text">Mô tả:</label>
                        <textarea type="text" class="form-control" id="describeEdit" placeholder="Mô tả" rows="8" name="describeEdit"></textarea>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="SaveEdit" type="button" class="btn btn-primary" style="width: 70px;">Lưu</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Content/Datatables/jquery.dataTables.min.js"></script>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Content/Datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>*@
@*Reference the autogenerated SignalR hub script.*@
@*<script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/dist/ez.countimer.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>*@

<!--Load Ebook-->
<script>
    var warnOptions = {
        autoHideDelay: 1000,
        showAnimation: "fadeIn",
        hideAnimation: "fadeOut",
        hideDuration: 700,
        arrowShow: false,
        className: "warn",
    };
    var successOptions = {
        autoHideDelay: 1000,
        showAnimation: "fadeIn",
        hideAnimation: "fadeOut",
        hideDuration: 700,
        arrowShow: false,
        className: "success",
    };
    var errorOptions = {
        autoHideDelay: 1000,
        showAnimation: "fadeIn",
        hideAnimation: "fadeOut",
        hideDuration: 700,
        arrowShow: false,
        className: "error",
    };
    var index = 0;
    var flag = false;
    //load ebook
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/AdminAPI/GetEbookByAdmin",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                InitTable(data);
            }
        });
        function InitTable(data) {
            //var index = 1;
            $('#loadsubject').DataTable({
                data: data,
                "autoWidth": false,
                "columns": [
                    //{
                    //    "data": "no", className: "no", "render": function (data, type, row, meta) {
                    //        return index++;
                    //    }
                    //},
                    { "data": "id", className:"id"},
                    { "data": "ebook_id", className: "ebook_id"},
                    { "data": "title", className: "title"},
                    { "data": "author", className: "author"},

                    {
                        "data": "filename", className: "filename"
                    },

                    {
                        "data": "describe", className: "describe", "render": function (data, type, row) {
                            return "<p id='break-down'>" + data + "</p>"
                            //var widthscreen = window.innerWidth;
                            //if (widthscreen >= 1000)
                            //    return "<p style='white-space: pre-line;width:800px' class='breakdown'>" + data + "</p>"
                            //if (widthscreen >= 500)
                            //    return "<p style='white-space: pre-line;width:400px' class='breakdown'>" + data + "</p>"
                            //if (widthscreen >= 400)
                            //    return "<p style='white-space: pre-line;width:350px' class='breakdown'>" + data + "</p>"

                        }
                    },
                    { "data": "year", className: "year" },
                    {
                        "data": "date_upload", "render": function (data) {

                            var d = new Date(data);
                            return d.toLocaleDateString();
                        }
                    },
                    {
                        "data": "sub_id", className: "sub_id",
                    },
                    {
                        "data": "sub_name", className: "sub_name",
                    },

                    { "data": "edit"},
                    //{ "data": "del" },
                ],
                "columnDefs": [
                    {
                     "targets": -1,
                    "data": null,
                        "defaultContent": "<button type='button' class='btn btn-warning btnEdit' data-toggle='modal' data-target='#myModalEdit' style='text-align: center;'><i class='far fa-edit'></i></button><button type='button' class='btn btn-danger btnDel'><i class='far fa-trash-alt'></i></button>"
                },
                //{
                //    "targets": -1,
                //    "data": null,
                //    "defaultContent": "<button type='button' class='btn btn-danger btnDel'><i class='far fa-trash-alt'></i></button>"
                //    },
                //    { responsivePriority: 2, targets: -2},
                    { responsivePriority: 1, targets: -1}
                ],
            });
        }
        //lấy môn học của ebook
        $.ajax({
            type: "GET",
            url: "/api/FileAPI/GetSubjectEbook",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (i, v) {
                    $("#subject").append("<option value='" + v.id + "'>" + v.name + "</option>");
                    $("#subjectEdit").append("<option value='" + v.id + "'>" + v.name + "</option>");
                });
            }
        });
        function ResetFormEbook() {
            $("#title").val("");
            $("#author").val("");
            $("#year").val("");
            $("#describe").val("");
            $("#fileInput").val("");
        }
        //Thêm
        $("#Save").click(function () {
            debugger;
            var title = $("#title").val();
            var author = $("#author").val();
            var data = new FormData();
            var files = $("#fileInput").get(0).files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append("fileInput", files[i]);
            }
            data.append("title", title);
            data.append("describe", $("#describe").val());
            data.append("author", author);
            data.append("year", $("#year").val());
            data.append("userid",@Session["user_id"]);
            data.append("subid", $("#subject option:selected").val());
            console.log(data);
            if (title == null || title == "") {
                $("#title").focus();
                $.notify("Bạn phải nhập tiêu đề!", warnOptions);
                return;
            }
            if (author == null || author == "") {
                $("#author").focus();
                $.notify("Bạn phải nhập tác giả!", warnOptions);
                return;
            }
            if (files.length <= 0) {
                $.notify("Bạn phải chọn file!", warnOptions);
                return;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/api/AdminAPI/UploadFiles",
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.isSuccess) {
                            $.notify("Thêm thành công!", successOptions);
                            console.log("aaa", result);
                            //add row datatable
                            var t = $('#loadsubject').DataTable();
                            t.row.add({
                                "id": result.id,
                                "ebook_id": result.ebook_Id,
                                "title": result.title,
                                "author": result.author,
                                "year": result.year,
                                "describe": result.describe,
                                "filename": result.fileName,
                                "date_upload": result.date_Upload,
                                "sub_id": result.sub_Id,
                                "sub_name": result.sub_Name
                            }).draw();
                            t.responsive.recalc();
                            //$("#formEbook")[0].reset();//reset form
                            ResetFormEbook();
                        } else {
                            if (result.message != null) {
                                $.notify(result.message, errorOptions);
                            }
                            else {
                                $.notify("Thêm thất bại!", errorOptions);
                            }
                        }
                    }
                });
            }

        });
    });
    $('#loadsubject tbody').on('click', 'tr', function () {
        debugger
        var rowCurrent = $(this);
        console.log("index", rowCurrent);
        index = rowCurrent[0].sectionRowIndex;
        console.log("rowCurrent", index);
        var ebook_id = $(this).closest("tr").find(".ebook_id").text();
        var title = $(this).closest("tr").find(".title").text();
        var author = $(this).closest("tr").find(".author").text();
        var year = $(this).closest("tr").find(".year").text();
        var describe = $(this).closest("tr").find(".describe").text();
        var sub_id = $(this).closest("tr").find(".sub_id").text();
        $("#titleEdit").val(title);
        $("#authorEdit").val(author);
        $("#yearEdit").val(year);
        $("#describeEdit").val(describe);
        $("#subjectEdit option[value=" + sub_id + "]").prop("selected", true);
        $("#ebook_idEdit").val(ebook_id);
    });


        //Cập nhật
    $('body').on('click', '#SaveEdit', function () {
        debugger
            var ebook_id = $("input[id='ebook_idEdit']").val();
            var title = $("input[id='titleEdit']").val();
            var author = $("input[id='authorEdit']").val();
            var year = $("input[id='yearEdit']").val();
            var data = new FormData();
            var files = $("#fileInputEdit").get(0).files;
            for (var i = 0; i < files.length; i++) {
                  data.append("fileInput", files[i]);
            }
            data.append("ebook_id", ebook_id);
            data.append("title", $("input[id='titleEdit']").val());
            data.append("describe", $("textarea[id='describeEdit']").val());
            data.append("author", $("input[id='authorEdit']").val());
            data.append("year", $("input[id='yearEdit']").val());
            data.append("userid",@Session["user_id"]);
            data.append("subid", $("#subjectEdit option:selected").val());
            if (title == null || title == "") {
                $("#titleEdit").focus();
                $.notify("Bạn phải nhập tiêu đề!", warnOptions);
                return;
            }
            if (author == null || author == "") {
                $("#authorEdit").focus();
                $.notify("Bạn phải nhập tác giả!", warnOptions);
                return;
            }
            if (year == null || year == "") {
                $("#yearEdit").focus();
                $.notify("Bạn phải nhập năm xuất bản!", warnOptions);
                return;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/api/AdminAPI/EditEbookFiles",
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.isSuccess) {
                            var d = new Date(result.date_Upload);
                            $.notify("Cập nhật thành công!", successOptions);
                            var t = $('#loadsubject').DataTable();
                            t.cell(index, 2).data(result.title).draw();
                            t.cell(index, 3).data(result.author).draw();
                            t.cell(index, 4).data(result.fileName).draw();
                            t.cell(index, 5).data(result.describe).draw();
                            t.cell(index, 6).data(result.year).draw();
                            t.cell(index, 7).data(d.toLocaleString()).draw();
                            //t.cell(index, 2).data(result.title).draw();
                            //t.cell(index, 3).data(result.author).draw();
                            //t.cell(index, 8).data(result.year).draw();
                            //t.cell(index, 7).data(result.describe).draw();
                            //t.cell(index, 4).data(result.fileName).draw();
                            //t.cell(index, 9).data(d.toLocaleString()).draw();
                            $("#fileInputEdit").val(null);
                            t.responsive.recalc();
                        } else {
                            if (result.message != null) {
                                $.notify(result.message, errorOptions);
                            }
                            else {
                                $.notify("Cập nhật thất bại!", errorOptions);
                            }

                        }
                    }
                });
            }
    });
    function DeleteEbook(id) {
        var r = confirm("Bạn có chắc muốn xóa không?");

        if (r == true) {
            //var data = {};
            //data.id = id;
            $.ajax({
                type: "POST",
                url: "/api/EbookAPI/DeleteFileUploadById?id= " + id,
                //data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    debugger;
                    $.notify(result, successOptions);
                    var table = $('#loadsubject').DataTable();
                    table.row(index).remove().draw();
                }
            });
        }
    }
    //Xóa
    $('#loadsubject tbody').on('click', '.btnDel', function () {
        debugger
        var ebook_id = $(this).closest("tr").find(".id").text();
        var id = parseInt(ebook_id, 10);
        DeleteEbook(id);

    });
</script>
@*<div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload Ebook</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Form Upload Ebook -->
                <div class="modal-body">
                    <form id="formEbook" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="text">Tiêu đề:</label>
                            <input type="text" class="form-control" id="title" placeholder="Tiêu đề" name="title">
                        </div>
                        <div class="form-group">
                            <label for="text">Giới thiệu:</label>
                            <input type="text" class="form-control" id="describe" placeholder="Giới thiêu" name="describe">
                        </div>
                        <div class="form-group">
                            <label for="text">Tác giả:</label>
                            <input type="text" class="form-control" id="author" placeholder="Tác giả" name="author">
                        </div>
                        <div class="form-group">
                            <label for="text">Năm xuất bản:</label>
                            <input type="text" class="form-control" id="year" placeholder="Năm" name="year">
                        </div>
                        <div class="form-group">
                            <label for="text">Môn học:</label>
                            <select id="subject" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="text">Browser</label>
                            <input type="file" name="Files" multiple id="fileInput" />
                        </div>
                        <div id="error"></div>
                        <div style="margin-top:20px">
                            <button id="upload" type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>*@
<!--Xóa môn-->
<script>
    //hàm xóa

    var index = 0;
    var flag = false;
    //$(document).ready(function () {
        //click vào row của datatable
        //$('#loadsubject tbody').on('click', 'tr', function () {
        //    flag = true;
        //    var table = $('#loadsubject').DataTable();
        //    var rowCurrent = $(this);
        //    console.log("index", rowCurrent);
        //    index = rowCurrent[0].sectionRowIndex;
        //    console.log("rowCurrent", index);
        //    if ($(this).hasClass('selected')) {
        //        $(this).removeClass('selected');
        //    }
        //    else {
        //        table.$('tr.selected').removeClass('selected');
        //        $(this).addClass('selected');
        //    }

        //});
        //xóa 1 row datatable
        //$('#btnDel').click(function () {
        //    var table = $('#loadsubject').DataTable();
        //    console.log("aaa", table.rows({ selected: true }).data());
        //    var rowData = table.rows({ selected: true }).data()[index]['id'];
        //    console.log("rowData", rowData);
        //    if (flag == true) {
        //        DeleteEbook(rowData);
        //        table.row('.selected').remove().draw(false);
        //    }
        //});
        //$('body').on('click', '#btnEdit', function (e) {
        //    var table = $('#loadsubject').DataTable();
        //    var title = table.rows({ selected: true }).data()[index]['title'];
        //    var author = table.rows({ selected: true }).data()[index]['author'];
        //    var year = table.rows({ selected: true }).data()[index]['year'];
        //    var describe = table.rows({ selected: true }).data()[index]['describe'];
        //    var filename = table.rows({ selected: true }).data()[index]['filename'];
        //    var sub_id = table.rows({ selected: true }).data()[index]['sub_id'];
        //    $("input[id='titleEdit']").val(title);
        //    $("input[id='authorEdit']").val(author);
        //    $("input[id='yearEdit']").val(year);
        //    $("input[id='describeEdit']").val(describe);
        //    $('option[value=' + sub_id + ']').attr('selected', 'selected');
        //    $("#subjectEdit").prop('disabled', true);
        //    $("#myModalEdit").show();
        //});

        //xác thực và cập nhật
        @*$('#formEbookEdit').validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                titleEdit: {
                    required: true
                },
                authorEdit: {
                    required: true
                },
                yearEdit: {
                    number: true,
                    minlength: 4,
                    maxlength: 4
                },
                fileInputEdit: {
                    required: true
                }
            },
            messages: {
                titleEdit: {
                    required: "Bạn phải nhập tiêu đề"
                },
                authorEdit: {
                    required: "Bạn phải nhập tác giả"
                },
                yearEdit: {
                    number: "Năm phải là số",
                    minlength: "Năm không được nhỏ hơn 4 ký tự",
                    maxlength: "Năm không được lớn hơn 4 ký tự"
                },
                fileInputEdit: {
                    required: "Bạn chọn file",

                }
            },
            submitHandler: function () {
                $("#btnUploadEdit").click(function () {
                var table = $('#loadsubject').DataTable();
                var ebook_id = table.rows({ selected: true }).data()[index]['ebook_id'];
                var data = new FormData();
                    var files = $("#fileInputEdit").get(0).files;

            for (var i = 0; i < files.length; i++) {
                  data.append("fileInput", files[i]);
            }
            data.append("ebook_id", ebook_id);
            data.append("title", $("input[id='titleEdit']").val());
            data.append("describe", $("input[id='describeEdit']").val());
            data.append("author", $("input[id='authorEdit']").val());
            data.append("year", $("input[id='yearEdit']").val());
            data.append("userid",@Session["user_id"]);
            data.append("subid", $("#subjectEdit option:selected").val());
                    console.log("data", data);
            $.ajax({
                type: "POST",
                url: "/api/AdminAPI/EditEbookFiles",
                dataType: "json",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    if (result.isSuccess) {
                        var d = new Date(result.date_Upload);
                        alert("Sửa thành công.");
                        var t = $('#loadsubject').DataTable();
                        t.cell(index, 2).data(result.title).draw();
                        t.cell(index, 3).data(result.author).draw();
                        t.cell(index, 4).data(result.year).draw();
                        t.cell(index, 5).data(result.describe).draw();
                        t.cell(index, 6).data(result.fileName).draw();
                        t.cell(index, 7).data(d.toLocaleString()).draw();
                        console.log(result);
                        $("#myModalEdit").hide();
                    } else {
                        if (result.message != null) {
                            alert(result.message);
                        }
                        else {
                            alert("Sửa không thành công.");
                        }

                          }
                      }
                    });
                });
            }
        });
    });*@
</script>


